#card {
	max-width: 600px;
	height: 300px;
	background-color: transparent;
	margin: 10px auto;
	perspective: 1000px;
	position: relative;

	font-size: 1.2rem;
	animation: none;
}

#card.none {
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

@keyframes flashAnswerSignalRed {
	0% {
		box-shadow: 2px 2px 8px none;
	}

	50% {
		box-shadow: 2px 2px 30px red;
	}
}

#card.correct {
	box-shadow: 2px 2px 30px green;
}

#card.partial {
	box-shadow: 2px 2px 30px rgb(255, 213, 0);
}

#card.wrong {
	/* box-shadow: 2px 2px 10px red; */
	animation: flashAnswerSignalRed 1s ease-in-out infinite;
}

#card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* #card-img {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 5%;
} */

.card-arrow {
	font-size: 2rem;
	z-index: 8;
}

.card-arrow i {
	color: inherit;
	font-weight: 900;
}

#left-card-arrow,
#right-card-arrow {
	position: absolute;
	bottom: 0;
	width: 15%;
	text-align: center;
	padding: 1rem;
	cursor: pointer;
}

#left-card-arrow {
	left: 0;
}

#left-card-arrow::after {
	content: "Back";
	font-size: 1rem;
	display: block;
}

#right-card-arrow {
	right: 0;
}

#right-card-arrow:after {
	font-size: 1rem;
	display: block;
	content: "Next";
}

@media screen and (max-width: 700px) {
	.front,
	.back {
		width: 100%;
		height: 100%;
	}
}

.front {
	background-color: inherit;
}

.back {
	color: rgb(0, 0, 0);
}

.front,
.back {
	position: absolute;
	width: 90%;
	height: 90%;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flipped {
	transform: rotateY(180deg);
}

/* Style the back side */
.back {
	transform: rotateY(180deg);
}
