#header {
	text-align: center;
	font-size: 1rem;
}

#header div {
	margin-bottom: 5px;
}

#title {
	font-weight: 700;
	text-transform: capitalize;
	font-size: 2rem;
}

#streak-inner {
	display: flex;
	gap: 10px;
	justify-content: center;
}

#longestStreak {
	color: black;
}
